body {
    font-family: "Courier New", sans-serif;
    font-size: 17px;
}

h2 {
  font-family: 'Sofia';
  font-size: 30px;
  text-align: center;
  margin-top: 0%;
  color: #009698;
}

p {
  font-family: 'Noto Sans Thai', sans-serif;
  text-align: center;
  margin-top: 0%;
  color: #414a70;
  font-size: 17px;
}

li {
  list-style-type: none;
  margin-bottom: 0%;
}

.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 40%;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: #d1daec;
}

.search-result li a:hover {
  background-color: #a4b6da;
  color: white;
}

img {
  width: 150px;
  height: 200px;
  padding: 0%;
}

table {
  width: 80%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background: linear-gradient(45deg,#49a09d,#5f2c82);
}

th, td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

th {
  text-align: center;
}

thead th {
  background-color: #55608f;
  text-align: center;
}

tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}

tbody td {
  position: relative;
  text-align: center;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}
