
body {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 17px;
}

h2 {
  font-family: "Lucida Console", sans-serif;
  font-size: 30px;
  color: #517470;
  text-align: center;
  margin-top: 0%;
}

img {
  width: 340px;
  height: 480px;
}

div.ex3 {
  width: 300px;
  height: 300px;
  overflow:  auto;
}