<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap" rel="stylesheet">

<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-dark-gray w3-card" id="myNavbar" style="font-size: 15px; height: 40px; font-family: 'Noto Sans Thai', sans-serif;">
      <app-book-search class="w3-bar-item " style="position: absolute;"></app-book-search>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a routerLink="/dashboard" class="w3-bar-item w3-button w3-wide w3-hover-blue-gray"><i class="fa fa-home"></i></a>
        <a routerLink="/books" class="w3-bar-item w3-button w3-wide w3-hover-blue-gray"><i class="fa fa-book"></i></a>
        <a routerLink="/shop" class="w3-bar-item w3-button w3-wide w3-hover-blue-gray"><i class="fa fa-heart"></i></a>
      </div>
    </div>
  </div>

  <div style="padding:15px 10px" id="bookshome"></div>
  <h2>Books on shelf</h2> 
  <p>รายชื่อหนังสือทั้งหมด <i class="fa fa-book"></i></p>
  <div class="w3-row-padding" style="margin-top:40px; margin-right:10px">
    <div class="books">
      <a *ngFor="let book of books" routerLink="/detail/{{book.id}}">
        <div class="w3-col l3 m6 w3-margin-bottom" style="padding: 20px;">
          <div class="w3-card">
            <img src="{{book.url_image}}" alt="image" style="width: 100%;">
            <div class="w3-container">
              <div><h3><i>{{book.book_text}}</i></h3></div>
              <div class="ex3"><p style="text-align: left;">{{book.description}}</p></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div>
    <label for="new-book">Book name : </label>
    <input id="new-book" #bookName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(bookName.value); bookName.value=''">Add Book</button>
  </div>

</body>